* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #ddd;
    overflow-x: hidden; /* Evita desplazamiento horizontal no deseado */
    
}

h1 {
    font-size: 2.7em;
}

h2 {
    font-size: 2.2em;
}

h3{ font-size: 1.5em;
}

h4{font-size: 1em;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    font-size: 1.5em;
    text-decoration: none;
}





/* HEADER */
.header {
    position: relative;
    z-index: 3;
    /*background: rgba(255, 255, 255, 0.726);  opcional */
    height: 16vh;
    background: #00000091;
}

.header__container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 16vh;
}

.header__logo {
    height: 120px;
}


.nav {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 4px;
    border-radius: 10px;
    background-color: #ff0000;
}


.nav a:hover {
    color: #ff0000; ;
    background-color: #fdfdfd;
    padding: 7px;
    transition: all 0.3s ease;
}
.icons span{
    color: white;
}

.icons a {
    margin-left: 15px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}



/* Main container */

.main {
    min-height: 100vh;
}

/* MARCAS */

.marcas {
    padding: 80px 20px;
    text-align: center;
    background-color: #f5f5f5;
}

.marcas h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.marcas-desc {
    max-width: 600px;
    margin: 0 auto 40px;
    color: #666;
}

.marcas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 40px;
    margin-top: 40px;
    max-width: 1000px;
    margin-inline: auto;
}
.marca {
    background: #fff;
    padding: 30px 20px;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.marca:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

.marca a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.marca img {
    max-width: 140px;
    max-height: 70px;
    object-fit: contain;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.marca:hover img {
    filter: grayscale(0%);
}
.marca:hover {
    transform: scale(1.05);
}


#footer__social a{
    text-decoration: none;
}

