* {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #fff;
    overflow-x: hidden; /* Evita desplazamiento horizontal no deseado */
    
}

h1 {
    font-size: 2.7em;
}

h2 {
    font-size: 2.2em;
}

h3{ font-size: 1.5em;
}

h4{font-size: 1em;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    font-size: 1.5em;
    text-decoration: none;
}

.button__container .btn {
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgb(228, 26, 26);
    padding: 16px 33px;
    border-radius: 10px;
    border: 1px solid #0007;
    box-shadow: 2px 2px 10px #0007;
    color: white;
}

.button__container .btn:hover{
    background-color: rgb(138, 21, 21);
    cursor: pointer;
}

.container {

    margin: auto;
}

/* HEADER */
.header {
    height: 16vh;
    background-image:
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url("../img/header2.png");
    background-size: cover;
    background-position: center;
    color: #fff;
}

.header__container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 16vh;
}

.header__logo {
    height: 120px;
}


.nav {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 4px;
    border-radius: 10px;
    background-color: #ff0000;
}


.nav a:hover {
    color: #ff0000; ;
    background-color: #fdfdfd;
    padding: 7px;
    transition: all 0.3s ease;
}
.icons span{
    color: white;
}

.icons a {
    margin-left: 15px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

/* Botones */
.usuario button,
.carrito button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}




/* Main container */

.main{
    /*background-image: url(/img/Como-habilitar-un-lubricentro-en-Buenos-Aires-3.jpg);*/
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
    backdrop-filter: blur(10px);
}

.main .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: rgb(226, 226, 226);
    padding: 80px 40px;
    margin: 0 auto  60px auto;
    backdrop-filter: blur(20px);
    color: #000000;
    border-radius: 12px;
}

.container__img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
}


#footer__social a{
    text-decoration: none;
}



/* cards*/

.card {
    border: none;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: transform .3s ease, box-shadow .3s ease;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 18px 35px rgba(0,0,0,0.12);
}

.card img {
    height: 220px;
    object-fit: cover;
}

.card-title {
    font-weight: bold;
    color: rgb(228, 26, 26);
}