* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #ddd;
    overflow-x: hidden; /* Evita desplazamiento horizontal no deseado */
    
}

h1 {
    font-size: 2.7em;
}

h2 {
    font-size: 2.2em;
}

h3{ font-size: 1.5em;
}

h4{font-size: 1em;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    font-size: 1.5em;
    text-decoration: none;
}

.button__container a {
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgb(228, 26, 26);
    padding: 16px 33px;
    border-radius: 10px;
    border: 1px solid #0007;
    box-shadow: 2px 2px 10px #0007;
    color: white;
    text-decoration: none;
}

.button__container a:hover{
    background-color: rgb(138, 21, 21);
    color: #fff;
    cursor: pointer;
}




/* HEADER */
.header {
    position: relative;
    z-index: 3;
    /*background: rgba(255, 255, 255, 0.726);  opcional */
    height: 16vh;
    background: #00000091;
}

.header__container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 16vh;
}

.header__logo {
    height: 120px;
}


.nav {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 4px;
    border-radius: 10px;
    background-color: #ff0000;
}


.nav a:hover {
    color: #ff0000; ;
    background-color: #fdfdfd;
    padding: 7px;
    transition: all 0.3s ease;
}

.icons a {
    margin-left: 15px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

/* HERO */
.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.hero__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
}

.hero__video,
.hero__overlay {
    pointer-events: none;
}

.hero__content {
    background: #00000091;
    position: relative;
    z-index: 2;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.hero__content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero__content p {
    margin-bottom: 25px;
}

.hero__btn {
    background: red;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.hero__btn:hover {
    background: rgb(138, 21, 21);
    color: #fff;

}




/* Main container */

.main {
    min-height: 100vh;
}
.container__main {
    min-height: 100vh;
    padding-top: 120px; /* espacio real del header */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: #ddd;
}

.container__main p{
    letter-spacing: 1px;
    font-weight: bold;
    width: 300px;
    text-align: center;
    align-items: center;
}

.container__category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    
}

.container__category h2{
    font-size: 4em;
    margin-bottom: 20px;
    color: #030303;
    
}

.category__list{
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: #fff;
    
}

.category__list-item {
    position: relative;
    width: 70%;
    height: 150px;
    margin: 10px 0;
    font-size: 1.5em;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

.category__list-item:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.category__list-item a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 1;
    text-decoration: none;
}

.category__list-item a:hover{
    color: #ff0000;
}




#Aceites {
    background-image: linear-gradient(0deg,#0008,#0008), url(../img/img1.jpeg); 
    background-size: cover;/* Cambia por la URL de la imagen para "Aceites" */
}
#Aditivos{
    background-image: linear-gradient(0deg,#0008,#0008), url(../img/img2.jpeg); 
    background-size: cover;/* Cambia por la URL de la imagen para "Aceites" */
}
#grasas {
    background-image: linear-gradient(0deg,#0008,#0008), url(../img/img1.jpeg);
    background-size: cover; /* Cambia por la URL de la imagen para "Aceites" */
}
#agua {
    background-image: linear-gradient(0deg,#0008,#0008), url(../img/img3.jpeg);
    background-size: cover; /* Cambia por la URL de la imagen para "Aceites" */
}
#limpieza{
    background-image: linear-gradient(0deg,#0008,#0008), url(../img/img2.jpeg); 
    background-size: cover;/* Cambia por la URL de la imagen para "Aceites" */
}




.container__help{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 100px 60px;
    margin-bottom: 30px;
    backdrop-filter: blur(20px);
    color: #000000;

}

.container__help p{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.5em;
}

.list__help{
    padding-left: 0;
}

.list__help-item{
    margin: 12px 2px;
    font-size: 1em;
}

.list__help:last-child{
    background-color: #010035;
    color:#333;
}





#footer__social a{
    text-decoration: none;
}

