* {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #ddd;
    overflow-x: hidden; /* Evita desplazamiento horizontal no deseado */
    
}

h1 {
    font-size: 2.7em;
}

h2 {
    font-size: 2.2em;
}

h3{ font-size: 1.5em;
}

h4{font-size: 1em;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    font-size: 1.5em;
    text-decoration: none;
}

.button__container .btn {
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgb(228, 26, 26);
    padding: 16px 33px;
    border-radius: 10px;
    border: 1px solid #0007;
    box-shadow: 2px 2px 10px #0007;
    color: white;
}

.button__container .btn:hover{
    background-color: rgb(138, 21, 21);
    cursor: pointer;
}

.container {

    margin: auto;
}


/* HEADER */
.header {
    color: #fff;
    /*background-image: linear-gradient(0deg, #0004, #bbb), url(/img/Como-habilitar-un-lubricentro-en-Buenos-Aires-3.jpg);*)*/
    background-color: rgb(26, 26, 26);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 16vh;
}

.header__container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 16vh;
}

.header__logo {
    height: 120px;
}


.nav {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 4px;
    border-radius: 10px;
    background-color: #ff0000;
}


.nav a:hover {
    color: #ff0000; ;
    background-color: #fdfdfd;
    padding: 7px;
    transition: all 0.3s ease;
}
.icons span{
    color: white;
}

.icons a {
    margin-left: 15px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}


/* Botones */
.usuario button,
.carrito button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}



/* Main container */

.main{
    background-image: url(../img/Como-habilitar-un-lubricentro-en-Buenos-Aires-3.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    backdrop-filter: blur(15px);
}

.container__form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}


form {
    /*width: fit-content;
    text-align: center;
    background-color: rgb(226, 226, 226);
    padding: 0px 60px 100px 60px;
    backdrop-filter: blur(20px);
    color: #000000;*/

    width: fit-content;
    background: rgb(255, 255, 255, 0.8);
    backdrop-filter: blur(15px);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    text-align: left;
}

.container__form label {
    display: block;
    font-size: 14px;
    margin: 10px 0 5px;
    color: #333;
}

.container__form input {
    width: 100%;
    padding: 12px;
    border: 1px solid #bbb;
    border-radius: 8px;
    outline: none;
    transition: 0.2s;
    background: #fafafa;
}

.container__form textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #bbb;
    border-radius: 8px;
    outline: none;
    transition: 0.2s;
    background: #fafafa;
}

.container__form input:focus{
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
    background: white;
}

.container__form textarea:focus{
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
    background: white;
}

.container__form button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #ff1e00;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.25s;
}

.container__form button:hover {
    background: #b30000;
}




.main h2{
    font-size: 3em;
    padding: 20px;
    color: #ffffff;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}






#footer__social a{
    text-decoration: none;
}

